/* src/pages/HomePage.module.scss */
@use '../_variables.scss'as vars;

.homePage {
  padding: 40px 20px;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding: 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.bannerContent {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.textSection {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--light-text); // Dynamic text color
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--light-text); // Dynamic text color
  }
}

.animationSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    max-width: 100%;
    height: auto;
  }
}

/* Logo Section */
.logoSection {
  margin-top: 150px;
  padding: 50px 0;
  background-color: var(--light-bg); // Dynamic background
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.logo {
  width: auto;
  height: 25px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

/* Services Section */
.servicesSection {
  margin-top: 150px;
  /* Increased margin */
  text-align: center;
}

.sectionTitle {
  font-size: 48px;
  /* Bigger heading */
  margin-bottom: 40px;
  color: var(--light-text); // Dynamic text color
}

.servicesContainer {
  display: flex;
  justify-content: space-between;
  /* Ensure equal spacing between cards */
  align-items: stretch;
  gap: 20px;
  /* Add spacing between cards */

  @media (max-width: 768px) {
    flex-direction: column;
    /* Stack cards vertically on smaller screens */
    align-items: center;
  }
}


// Latest Work Section
.latestWorkSection {
  margin-top: 150px;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.latestWorkGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 2 columns */
  gap: 2rem;
  justify-content: center;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.projectDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.projectTitle {
  font-size: 14px;
  /* Smaller font size */
  color: var(--light-text);
  /* Dynamic text color */
  margin: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  .latestWorkGrid {
    grid-template-columns: 1fr;
    /* Single column on smaller screens */
  }

  .projectDetails {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}