/* src/components/Header.module.scss */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 97vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  z-index: 1000;

  .logoContainer {
    display: flex;
    align-items: center;

    .logo {
      font-family: "Vastago Grotesk", sans-serif;
      font-size: 36px;
      margin-right: 10px;
      color: #ffffff;
    }

    .textContainer {
      display: flex;
      flex-direction: column;

      .name {
        font-family: "Vastago Grotesk", sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        color: #ffffff;
      }

      .designation {
        font-family: "Vastago Grotesk", sans-serif;
        font-size: 16px;
        margin: 0;
        color: #ffffff;
      }
    }
  }

  .modeSwitch {
    display: flex;
    align-items: center;
  }
}