/* src/components/Header.module.scss */
@use '../_variables.scss' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent; // Transparent background
  position: relative;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;

  .logo {
    font-size: 36px;
    margin-right: 10px;
    color: var(--light-text); // Dynamic text color
  }

  .name {
    font-size: 24px;
    color: var(--light-text); // Dynamic text color
  }
}

.modeSwitch {
  display: flex;
  align-items: center;
}