/* src/_variables.scss */
$primary-color: #333;
$secondary-color: #fff;
$light-bg: #ffffff; // Light mode background
$dark-bg: #121212; // Dark mode background
$light-text: #333; // Light mode text
$dark-text: #ffffff; // Dark mode text

$font-stack: Arial,
sans-serif;

// Export variables for use in components
:root {
  --primary-color: #{$primary-color};
  --light-bg: #{$light-bg};
  --dark-bg: #{$dark-bg};
  --light-text: #{$light-text};
  --dark-text: #{$dark-text};
}

body.dark-mode {
  --light-bg: #{$dark-bg};
  --light-text: #{$dark-text};
}