/* src/_variables.scss */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$primary-color: #333; // Base dark color
$secondary-color: #fff; // Base light color
$tint-color: #0074D9; // Consistent blue tint color
$light-bg: #ffffff; // Light mode background
$dark-bg: #121212; // Dark mode background
$light-text: #333; // Light mode text
$dark-text: #ffffff; // Dark mode text
$border-color-light: #444; // Dark border for light mode
$border-color-dark: #ddd; // Light border for dark mode
$icon-color-light: #595959; // Light mode icon color (blended)
$icon-color-dark: #d6d6d6; // Dark mode icon color (blended)
$title-font-size: 60px;

// Export variables for use in components
:root {
  --primary-color: #{$primary-color};
  --light-bg: #{$light-bg};
  --dark-bg: #{$dark-bg};
  --light-text: #{$light-text};
  --dark-text: #{$dark-text};
  --border-color: #{$border-color-light}; // Dark border for light mode
  --icon-color: #{$icon-color-light}; // Icon color for light mode
  --tint-color: #{$tint-color}; // Tint color (blue)
  --spotlight-color: rgba(255, 255, 255, 0.05); // Spotlight color for light mode
  --title-font-size: #{$title-font-size};
}

body.dark-mode {
  --light-bg: #{$dark-bg};
  --light-text: #{$dark-text};
  --border-color: #{$border-color-dark}; // Light border for dark mode
  --spotlight-color: rgba(108, 108, 108, 0.5); // Spotlight color for dark mode
  --icon-color: #{$icon-color-dark}; // Icon color for dark mode
}

$font-stack: "Playfair Display",
serif;

@font-face {
  font-family: "Vastago Grotesk";
  src: url("/fonts/VastagoGrotesk-Regular.otf") format("otf"),
    url("/fonts/VastagoGrotesk-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}