/* src/index.scss */
@use './_variables.scss'as vars;

body {
  margin: 0;
  font-family: vars.$font-stack;
  background-color: var(--light-bg); // Default light mode background
  color: var(--light-text); // Default light mode text
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark-mode {
    background-color: var(--dark-bg); // Dark mode background
    color: var(--dark-text); // Dark mode text
  }
}

h1,
h2,
h3,
p {
  transition: color 0.3s ease;
}

a {
  color: var(--primary-color);
  transition: color 0.3s ease;

  &:hover {
    color: #2196f3; // Hover effect for links
  }
}

button {
  background-color: var(--primary-color);
  color: var(--light-text);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #2196f3;
  }
}

.dark-mode button {
  background-color: #ff5722; // Dark mode button color
}